h2 {
  font-size: 2em;
  color: white;
}

h3 {
  font-size: 2em;
  color: goldenrod;

  span {
    color: white;
  }
}

ul {
  padding: 0em 2em;
  font-size: 1.25em;
  color: white;

  li {
    margin: 1em 0em;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 1.25em;
  }
  h3 {
    font-size: 1.25em;
  }
}
